<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/addcart/3" method="post">
        <p>id: product</p>
        <p>amount: product</p>
        <input type="number" min="1" value="1" name="amountproduct">
        <input type="submit">
    </form>

    <p>del</p>
    <form action="/deletecart/1" method="post">
        <input type="submit">
    </form>

    <p>addoder</p>
    <form action="/addoder" method="post">
        <input type="text" name="prisonername">
        <input type="submit">
    </form>
    
</body>
</html>