<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/createproduct" method="post">
        <input type="text" name="productname">
        <input type="text" name="productcategory">
        <input type="text" name="productprice">
        <input type="text" name="imgurl">
        <input type="submit" value="ok">
    </form>
    
</body>
</html>